<ion-view title="{{circle.rm_name}}">
	<ion-content class="light-grey tab-bottom">
	 	<div class="list">
		  <p class="item">
		    Max People: {{circle.num_people}}
		  </p>
		  <p class="item">
		    Cash Buy-in: ${{circle.cash_pot}} / {{circle.schedule}}
		  </p>
		  <p class="item">
		    Total Cash Pot: ${{circle.cash_pot * circle.num_people}} / {{circle.schedule}}
		  </p>
		  <p class="item">Start date: {{circle.startdate | date: "MM/dd/yyyy 'at' h:mma"}}</p>
		  <p class="item">End date: </p>
		  <div class="item item-divider">Host</div>
		  <div ng-repeat="guest in circleInfo.users | filter: {id: circleInfo.user_room[0].host_id}">
			  <a href="#/user/{{guest.id}}" ng-click="showUser(user)"class="item item-avatar">
			 		<img src="{{guest.image_url}}" alt="">
		 			<h3>{{guest.firstname}} {{guest.lastname}}</h3>
		 			<div class="">
						<i class="icon ion-star"></i> 
						{{guest.reputation}}
					</div>
		 		</a>
		  </div>
		  <div class="item item-divider">Guests</div>
		  <div ng-repeat="guest in circleInfo.users | orderBy: 'lastname' | filter:{id: '!'+circleInfo.user_room[0].host_id}">
			  <a href="#/user/{{guest.id}}" ng-click="showUser(user)"class="item item-avatar">
			 		<img src="{{guest.image_url}}" alt="">
		 			<h3>{{guest.firstname}} {{guest.lastname}}</h3>
		 			<div class="">
						<i class="icon ion-star"></i> 
						{{guest.reputation}}
					</div>
		 		</a>
		  </div>
		  <div class="row">
		  	<div class="col">
			  <button class="button button-large button-block button-assertive" ng-click="joinCircle()" ng-show="joinShow">Join Room</button>
			</div>
		  </div>
		</div> 
	</ion-content>
	<div ng-include src="'templates/user-tabs.html'"></div>
</ion-view>