<ion-view title="Create Circle">
	<ion-content class="">
				<form ng-submit="createCircle(circle)">
					<label for="circle-name" class="item item-input">
						<span class="input-label">Circle Name</span>
						<input type="text" ng-model="circle.rm_name">
					</label>
					<div class="list">
						<label for="max-people" class="item item-input item-select">
							<div class="input-label">Max People</div>
								<select name="max-people" ng-model='circle.num_people'>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12" selected>12</option>
								</select>
						</label>
						<label for="schedule" class="item item-input item-select">
							<div class="input-label">Schedule</div>
								<select name="schedule" ng-model='circle.schedule'>
									<option value="Weekly">Weekly</option>
									<option value="Bi-Weekly">Bi-Weekly</option>
									<option value="Monthly" selected>Monthly</option>
								</select>
						</label>
						<label for="cashpot" class="item item-input">
							<span class="input-label">Cash Buy-in:</span>
							<input type="text" placeholder="Min: $100 Max: $1,000" ng-model="circle.cash_pot">
						</label>
						<label for="schedule" class="item item-input">
							<span class="input-label">Start Date</span>
							<input type="date" ng-model="circle.startdate">
						</label>
						<div ng-repeat="(key, errs) in errors">
							 <p class="text-center text-error padding">{{key | uppercase}} {{errs}}</p>
		    			</div>
						<div class="row">
							<div class="col">
								<button href="#/users/1" class="button button-large button-block button-positive">Create Circle</button>
							</div>
						</div>
				</form>
	</ion-content>
</ion-view>