<ion-view title="Circles"class="">
	<ion-content class="grey-bg tab-bottom">
	 	<div class="list">
			  <label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
			    <input type="text" placeholder="Search" ng-model="query">
			  </label>
			<div ng-repeat="circle in circles | filter: query">
	 		<a href="#/circle/{{circle.id}}/user/:id" class="item item-avatar">
		 		<!-- <img src="{{user.image_url}}" alt=""> -->
	 			<h3>{{circle.rm_name}}</h3>
	 			<div class="">
					<p>Num. of People: {{circle.users.length}}/{{circle.num_people}}</p>
					<p>Host: </p>
					<p>Cash Buy-in: ${{circle.cash_pot}} / {{circle.schedule}}</p>
				</div>
	 		</a>
	 		</div>
	 	</div>
	</ion-content>
	<div ng-include src="'templates/user-tabs.html'"></div>
</ion-view>