<ion-view title="Dash" hide-nav-bar="true">
    <ion-content class="main-page home-bg light-grey">
    <div class="row vert-align">
    	<div class="col">
    	<h4 class="logo padding-bottom">Choose a mode...</h4>
			<a class="button button-block button-assertive button-large" href="#/circle-new">Host a Circle</a>
			<h4 class="padding-top logo text-center">or</h4>
			<a class="button button-block button-calm button-large" href="#/signup">Find a Circle</a>
		</div>
	</div>
	</ion-content>
</ion-view>