<ion-view title="Dash" hide-nav-bar="true">
    <ion-content class="main-page home-bg light-grey">
    <div class="row vert-align">
    	<div class="col">
    	<h4 class="logo padding-bottom">Choose a mode...</h4>
			<button class="button button-block button-assertive button-large" ng-click="userGo()">Host a Circle</button>
			<h4 class="padding-top logo text-center">or</h4>
			<button class="button button-block button-calm button-large" ng-click='circleGo()'>Find a Circle</button>
		</div>
	</div>
	</ion-content>
</ion-view>