 <ion-view title="Sign Up" hide-back-button="true">
	<ion-nav-buttons side="left">
      <a class="button button-clear" href="#/">
        Cancel
      </a>
    </ion-nav-buttons>
	<ion-content class="">
		<div class="row">
			<div class="col">
				<form ng-submit="createUser(newUser)">
    				<div class="list">	
	  					<label class="item item-input item-stacked-label">
		  					<span class="input-label">First Name</span>
		    				<input type="text" ng-model="newUser.firstname" />
	    				</label>
	    				<label class="item item-input item-stacked-label">
		  					<span class="input-label">Last Name</span>
		    				<input type="text" ng-model="newUser.lastname" />
	    				</label>
	    				<label class="item item-input item-stacked-label">
		  					<span class="input-label">Email</span>
		    				<input type="email" ng-model="newUser.email" />
	    				</label>
	    				<label class="item item-input item-stacked-label">
		  					<span class="input-label">Password</span>
		    				<input type="text" ng-model="newUser.password" />
	    				</label>
	    				<label class="item item-input item-stacked-label">
		  					<span class="input-label">Password Confirmation</span>
		    				<input type="password" ng-model="newUser.password_confirmation" />
	    				</label>
	    				<div ng-repeat="(key, errs) in errors">
							 <p class="text-center text-error padding">{{key | uppercase}} {{errs}}</p>
		    			</div>
	    				<button href="#/users/1/edit" class="button button-large button-block button-positive" ng-click="$state.go('user-edit')">Next: Create Profile</button>
    				</div>
    			</form>
			</div>
		</div>
	</ion-content>
</ion-view>