<ion-view title="Sign Up" hide-back-button="true">
	<ion-nav-buttons side="left">
      <a class="button button-clear" href="/">
        Cancel
      </a>
    </ion-nav-buttons>
	<ion-content class="">
		<div class="row">
			<div class="col">
				<form ng-submit="createUser(newUser)">
    				<div class="list">	
	  					<label class="item item-input item-stacked-label">
		  					<span class="input-label">First Name</span>
		    				<input type="text" ng-model="newUser.firstname" />
	    				</label>
	    				<label class="item item-input item-stacked-label">
		  					<span class="input-label">Last Name</span>
		    				<input type="text" ng-model="newUser.lastname" />
	    				</label>
	    				<label class="item item-input item-stacked-label">
		  					<span class="input-label">Email</span>
		    				<input type="email" ng-model="newUser.email" />
	    				</label>
	    				<label class="item item-input item-stacked-label">
		  					<span class="input-label">Password</span>
		    				<input type="password" ng-model="newUser.password" />
	    				</label>
	    				<div ng-repeat="(key, errs) in errors">
							<div ng-repeat="error in errs">
								<p class="text-center text-error">{{key | uppercase}} {{error}}</p>
							</div>
	    				</div>
	    				<a href="#/users/1/edit" class="button button-large button-block button-positive">Next: Create Profile</a>
    				</div>
    			</form>
			</div>
		</div>
	</ion-content>
</ion-view>