
<ion-view title="Users"class="" hide-back-button="true"	>
<div ng-include src="'templates/nav-button.html'"></div>
	<ion-content class="grey-bg tab-bottom">
	 	<div class="list">
			<label class="item item-input">
				<i class="icon ion-search placeholder-icon"></i>
			    <input type="text" placeholder="Search" ng-model="query">
			</label>
			<div ng-repeat="user in users | filter: query | orderBy: 'lastname'">
		 		<a href="#/user/{{user.id}}" ng-click="showUser(user)"class="item item-avatar">
			 		<img src="{{user.image_url}}" alt="">
		 			<h3>{{user.firstname}} {{user.lastname}}</h3>
		 			<div class="">
						<i class="icon ion-star"></i> 
						{{user.reputation}}
					</div>
		 		</a>
	 		</div>
	 	</div>
	</ion-content>
	<div ng-include src="'templates/user-tabs.html'"></div>
</ion-view>